body {
    background: url("./Components/assets/background-blur-bokeh-220067.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: black;
}

.footer {
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-shadow: 1px 1px 2px black;
    text-align: center;
    padding: 10px;
}

h1 {
    text-align: center;
    font-family: 'Mountains of Christmas', cursive;
    color: white;
    font-size: 60pt;
    text-shadow: 3px 3px 5px rgba(40, 167, 70);
}

h2 {
    font-family: 'Mountains of Christmas', cursive;
    color: white;
}

.gif-div > * {
    margin-left: 5px;
    margin-bottom: 5px;
}

.gif-div {
    padding-right: 5px;
}